:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #ff954e;
  --color-primary-light: #ff7d27;
  --color-primary: #ff6600;
  --color-primary-dark:#d85600 ;
  --color-primary-darker: #b14600;
  --color-secundary: #209068;
  --color-secundary-dark: #197051;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #ffc096;
  --color-text-title: #893700;
  --color-text-complement: #ff8a3c;
  --color-text-base: #ff781e;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}